<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hu.ssm.base.mapper.GeneratorMapper" >
  <resultMap id="BaseResultMap" type="com.hu.ssm.base.domain.Generator" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="money1" property="money1" jdbcType="DECIMAL" />
    <result column="money2" property="money2" jdbcType="TINYINT" />
    <result column="money3" property="money3" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, money1, money2, money3, name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hu.ssm.base.domain.GeneratorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from generator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from generator
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from generator
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hu.ssm.base.domain.GeneratorExample" >
    delete from generator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hu.ssm.base.domain.Generator" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into generator (money1, money2, money3, 
      name)
    values (#{money1,jdbcType=DECIMAL}, #{money2,jdbcType=TINYINT}, #{money3,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hu.ssm.base.domain.Generator" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into generator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="money1 != null" >
        money1,
      </if>
      <if test="money2 != null" >
        money2,
      </if>
      <if test="money3 != null" >
        money3,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="money1 != null" >
        #{money1,jdbcType=DECIMAL},
      </if>
      <if test="money2 != null" >
        #{money2,jdbcType=TINYINT},
      </if>
      <if test="money3 != null" >
        #{money3,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hu.ssm.base.domain.GeneratorExample" resultType="java.lang.Integer" >
    select count(*) from generator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update generator
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.money1 != null" >
        money1 = #{record.money1,jdbcType=DECIMAL},
      </if>
      <if test="record.money2 != null" >
        money2 = #{record.money2,jdbcType=TINYINT},
      </if>
      <if test="record.money3 != null" >
        money3 = #{record.money3,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update generator
    set id = #{record.id,jdbcType=BIGINT},
      money1 = #{record.money1,jdbcType=DECIMAL},
      money2 = #{record.money2,jdbcType=TINYINT},
      money3 = #{record.money3,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hu.ssm.base.domain.Generator" >
    update generator
    <set >
      <if test="money1 != null" >
        money1 = #{money1,jdbcType=DECIMAL},
      </if>
      <if test="money2 != null" >
        money2 = #{money2,jdbcType=TINYINT},
      </if>
      <if test="money3 != null" >
        money3 = #{money3,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hu.ssm.base.domain.Generator" >
    update generator
    set money1 = #{money1,jdbcType=DECIMAL},
      money2 = #{money2,jdbcType=TINYINT},
      money3 = #{money3,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>